<?xml version="1.0"?>
<config>
    <modules>
        <Alex_Import>
            <version>0.1.0</version>
        </Alex_Import>
    </modules>
    <global>
        <blocks>
            <aleximport>
                <class>Alex_Import_Block</class>
            </aleximport>
            <importexport>
                <rewrite>
                    <adminhtml_import_frame_result>Alex_Import_Block_Adminhtml_Import_Frame_Result</adminhtml_import_frame_result>
                </rewrite>
            </importexport>
        </blocks>
        <models>
            <aleximport>
                <class>Alex_Import_Model</class>
            </aleximport>
        </models>
        <resources>
            <aleximport_setup>
                <setup>
                    <module>Alex_Barcode</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </aleximport_setup>
            <aleximport_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </aleximport_write>
            <aleximport_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </aleximport_read>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <aleximport before="Mage_ImportExport_Adminhtml">Alex_Import_Adminhtml</aleximport>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>