<?xml version="1.0"?>
<config>
    <modules>
        <Alex_Barcode>
            <version>0.1.0</version>
        </Alex_Barcode>
    </modules>
    <global>
        <models>
            <alexbarcode>
                <class>Alex_Barcode_Model</class>
            </alexbarcode>
            <barcode>
                <rewrite>
                    <system_config_source_attribute>Alex_Barcode_Model_System_Config_Source_Attribute</system_config_source_attribute>
                </rewrite>
            </barcode>
        </models>
        <resources>
            <alexbarcode_setup>
                <setup>
                    <module>Alex_Barcode</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </alexbarcode_setup>
            <alexbarcode_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </alexbarcode_write>
            <alexbarcode_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </alexbarcode_read>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <alexbarcode before="SM_Barcode_Adminhtml">Alex_Barcode_Adminhtml</alexbarcode>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>