<?xml version="1.0"?>
<config>
    <modules>
        <Alex_Sales>
            <version>0.1.0</version>
        </Alex_Sales>
    </modules>
    <global>
        <blocks>
            <alexsales>
                <class>Alex_Sales_Block</class>
            </alexsales>
        </blocks>
        <helpers>
            <alexsales>
                <class>Alex_Sales_Helper</class>
            </alexsales>
        </helpers>
        <models>
            <alexsales>
                <class>Alex_Sales_Model</class>
                <resourceModel>alexsales_resource</resourceModel>
            </alexsales>
            <alexsales_resource>
                <class>Alex_Sales_Model_Resource</class>
                <entities>
                    <commit>
                        <table>alexsales_commit</table>
                    </commit>
                    <transaction>
                        <table>alexsales_transaction</table>
                    </transaction>
                </entities>
            </alexsales_resource>
        </models>
        <resources>
            <alexsales_setup>
                <setup>
                    <module>Alex_Sales</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </alexsales_setup>
            <alexsales_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </alexsales_write>
            <alexsales_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </alexsales_read>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <alexsales before="Mage_Adminhtml">Alex_Sales_Adminhtml</alexsales>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <alexsales_commits>
                                            <title>Alex Sales Configurations</title>
                                        </alexsales_commits>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>